$orange: hsl(26, 100%, 55%);
$paleorange: hsl(25, 100%, 94%);
$veryvark-blue: hsl(220, 13%, 13%);
$grayrish-blue: hsl(220, 14%, 75%);
$dark-grayrish-blue: hsl(219, 9%, 45%);
$light-grayrish-blue: hsl(219, 9%, 45%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);